body{
  background-color: rgb(12, 57, 8);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calendar{

  position: absolute;
  margin: 5%;
  width: 90%;
  height: 700px;

  border: 2px solid white;
  background-color: rgb(117, 237, 132);

}

.day-template{
  background-color: white;
}

.month .month-title{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.month .month-title i{
  font-size: 40px;
  cursor: pointer;
}

.month .day-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 3% 5%;
}

.day-template{
  width: 135px;
  height: 135px;
  background-color: white;
  border: 1px solid black;
  text-align: center;
}

#template{
  display: none;
}
